parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property Laravel\\\\Socialite\\\\Contracts\\\\User\\:\\:\\$refreshToken\\.$#"
			count: 1
			path: app/Http/Controllers/AuthController.php

		-
			message: "#^Access to an undefined property Laravel\\\\Socialite\\\\Contracts\\\\User\\:\\:\\$token\\.$#"
			count: 1
			path: app/Http/Controllers/AuthController.php

		-
			message: "#^Call to an undefined method Laravel\\\\Socialite\\\\Contracts\\\\Provider\\:\\:scopes\\(\\)\\.$#"
			count: 1
			path: app/Http/Controllers/AuthController.php
